<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static',filename='css/index.css')}}"  rel="stylesheet">
    <title>Image to Text</title>
</head>
<body>
    <div class="home">
    <!-- <p> Upload Image Here</p> -->
    <label for="input-file" id="drop-area">
        <input type="file" accept="image/*" id="input-file" hidden>
        <div id="img-view">
            <img src="{{url_for('static',filename='images/upload.png')}}" id="upload-img">
            <p> Drag and drop or click here <br> to upload image</p>
            <span> Upload any images from desktop</span>
        </div>
    </label>
</div>
<script src="{{url_for('static',filename='script.js')}}"></script>
</body>
</html>